* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d232a;
  border-radius: 5px;
  border: 2px white solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d232a;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.scrollbar-hide {
  scrollbar-width: none; /* For Firefox */
}
